// Variables
$website-width: 80rem;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
// go out of main.css and into img folder
$bg-image: url("../img/showcase.jpg");
